#  Semana 03
Nanquen Castillo, Piero Alonso

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de datos por teclado
    5. Operadores

5. Operadores

In [3]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [9]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [10]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=

In [11]:
numero = 5
numero = numero + 3
print(numero)

8

In [13]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [14]:
# Lo mismo se puede hacer con todos los casos, incluso con la potencia
# Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [16]:
numero = 5
numero **= 4
print(numero)

625

In [17]:
# 5.3 Operadores de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [18]:
# Con la cadenas funciona igual
nombre1 = 'Piero'
nombre2 = 'Piero'
nombre1 == nombre2

True

In [19]:
nombre1 != nombre2

False

In [20]:
# 5.4 Operadores Lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [21]:
numero1 < numero2

True

In [24]:
# El not invierte el resultado not()
not(numero1 < numero2)

False

In [25]:
numero1 < numero2 and numero3 < numero4

True

In [26]:
# También puedes utilizar paréntesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3>numero4)

True

In [27]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in
aula = ['Juan', 'Daniel', 'Ruben']
alumno1 = 'Diego'
alumno2 = 'Juan'

In [28]:
#¿Diego esta en aula?
alumno1 in aula

False

In [29]:
#¿Juan esta en aula?
alumno2 in aula

True

In [30]:
#¿Diego no esta en aula?
alumno1 not in aula

True

In [31]:
#¿Juan no esta en aula?
alumno2 not in aula

False

In [32]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [38]:
aula1 = ['Juan', 'Daniel', 'Ruben']
aula2 = ['Juan', 'Daniel', 'Ruben']
         
# A continuación vamos a indicar que aula3 va a compratir el mismo objeto que aula1
         
aula3 = aula1

In [36]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [39]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [40]:
aula1.append('Diego')

In [41]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [42]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [43]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']